<launch>
    <group ns="miGrupo">
        
        <!-- pub -->
        <node name="nodopub_ejercicio2" pkg="p2pkg" type="nodopub_ejercicio2.py" output="screen">
            <!-- Remapear el topic a /miGrupo/topic_ejercicio2 -->
            <remap from="/topic_ejercicio2" to="/miGrupo/topic_ejercicio2" />
            <param name="numero" value="7" />
        </node>

        <!-- sub -->
        <node name="nodosub_ejercicio2" pkg="p2pkg" type="nodosub_ejercicio2.py" output="screen">
            <remap from="/topic_ejercicio2" to="/miGrupo/topic_ejercicio2" />
        </node>

    </group>
</launch>
